/*Ini CSS*/
.main-header {
    text-align: center;   
}
.selection-content{
    display: flex;
    flex-direction: column;
}
.selection-btn{
    height: 32px;
    background-color: darkseagreen;
    border: none;
    border-radius: 8px;
    
}